jupyter
numpy
pandas
matplotlib
seaborn
networkx[default]
scipy
scikit-learn
pygad
pyswarms
aco
keras
ann_visualizer
pydot
graphviz
nltk
wordcloud
text2emotion
NRCLex
git+https://github.com/JustAnotherArchivist/snscrape.git
gitpython
emoji==1.7.0
gym
swig
pygame
gym[box2d]
box2d
box2d-kengz